.ArtMario {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ArtMario__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ArtMario__img_alt {
    left: -100%;
}


.ArtMario__title {
    position: relative;
    color: rgb(156, 26, 3);
    font-size: 10vw;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.ArtMario::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, rgb(6, 2, 1), transparent);
    z-index: 1000;
}