.ArtHouse {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131316;
}

.ArtHouse__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*background-position: center;*/
}
/*
.ArtHouse__img_frame {
    object-fit: fill
}*/

.ArtHouse__title {
    position: relative;
    background: linear-gradient(to right, #ff6b08, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /*text-shadow: #FC0 1px 0 10px;*/
    font-size: 10vw;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.ArtHouse::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, rgb(6, 2, 1), transparent);
    z-index: 1000;
}